<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <title>Dank Meme University</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Welcome to Dank Meme University</h1>
        </div>
        <div class="container">
            <form action="/add-student" method="post">
                <label for="name">Student's Dank Name:</label>
                <input type="text" name="name">
                <label for="date">Enter date of Enrolllllllment:</label>
                <input type="date" name="date">
                <button type="submit" name="button">DANK</button>
            </form>
            <hr>
            {% if students is not empty %}
            <ul>
                {% for student in students %}
                <li>
                <a href='#{{ student.getId }}' data-toggle="modal">✏️  </a>
                {{ student.getName }} Enrolled since: {{ student.getEnrollmentDate }}
                <!-- Modal -->
                <div class="modal fade " id="{{ student.getId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Edit {{ student.getName }}'s information</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/edit_student/{{ student.getId }}" class='form' method='post'>
                                    <div class='form-group form-horizontal'>
                                        <input name="new_name" class='form form-control' type='text' placeholder='update student name'>
                                        <input name="_method" type="hidden" value="patch">
                                        <button class='btn btn-warning btn-sm' type='submit'>Submit Changes</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <form action="/delete_student/{{ student.getId }}" method="post">
                                    <input name="_method" type="hidden" value="delete">
                                    <button type="submit" class='btn btn-danger btn-sm pull-left'>Delete Student</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>
                No students at this awesome University? WHA?
            </p>
            {% endif %}
            <br>
            <hr>

            <form action="/delete_all_students" method="post">
                Click to <button type="submit" name="button">delete all students</button> IF you're sure and not just trolling...
            </form>
        </div>
    </body>
</html>
